.body {
    position: relative;
    background-color: lightblue;
    width: 400px;
    height: 220px;
    margin-top: 300px;
    margin-left: 250px;
}

.body-color {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
}

.color-1 {
    background-color: thistle;
}

.color-2 {
    background-color: lightblue;
}

.color-3 {
    background-color: thistle;
}

.color-4 {
    background-color: lightblue;
}

.tail {
    position: absolute;
    top: 50%;
    right: 100%;
    width: 200px;
    height: 25px;
    background-color: lightcoral;
}

.paw-left {
    background-color: lightcoral;
    height: 175px;
    width: 25px;
    left: 0;
    position: absolute;
    top: 100%;
}

.paw-right {
    background-color: lightcoral;
    height: 175px;
    width: 25px;
    position: absolute;
    right: 0;
    top: 100%;
}

.head {
    height: 150px;
    width: 150px;
    background-color: lightcoral;
    position: absolute;
    left: 100%;
    top: -75px;
}

.eye {
    height: 25px;
    width: 25px;
    background-color: white;
    position: absolute;
    right: 25px;
    top: 25px;

}

.ear {
    height: 100px;
    width: 50px;
    background-color: brown;
    position: absolute;
    left: -25px;
    top: 0;
}