.green {
    height: 200px;
    width: 200px;
    position: absolute;
    background-color: green;
    left: 100px;
}

.red {
    height: 100px;
    position: relative;
    background-color: red;
    top: 0;
}

.yellow {
    height: 20px;
    position: relative;
    background-color: yellow;
    top: 300px;
}

.gold {
    height: 20px;
    position: relative;
    background-color: gold;
    top: 300px;
}